body{
    margin: 2px 5px;
    padding: 5px 30px;
    background-color: rgb(240, 232, 232);
    font-size: x-large;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg');
}
